Repository DeepLabCut/DeepLabCut, pull requests merged in 2025-06, with the labels that each got.

#2997 [Docs] pcutoff per bodypart documentation
  docs/maDLC_UserGuide.md
  docs/standardDeepLabCut_UserGuide.md
Labels: documentation, DLC3.0🔥

#2981 Update docstring and comment
  deeplabcut/compat.py
  deeplabcut/pose_estimation_pytorch/data/cocoloader.py
Labels: documentation

#2980 Fix BUCTD figure in architectures docs
  docs/pytorch/architectures.md
  docs/pytorch/assets/buctd_figure_1.png
Labels: documentation, CTD

#3012 Shaokai/faster inference
  deeplabcut/pose_estimation_pytorch/modelzoo/inference.py
  deeplabcut/pose_estimation_pytorch/runners/inference.py
  requirements.txt
  setup.py
Labels: pytorch, DLC3.0🔥

#3021 Fix reID Colab installation
  examples/COLAB/COLAB_transformer_reID.ipynb
Labels: Installation, COLAB

#3020 Fix BUCTD Colab
  examples/COLAB/COLAB_BUCTD_and_CTD_tracking.ipynb
Labels: COLAB, CTD

#3016 BUCTD GUI integration
  deeplabcut/gui/components.py
  deeplabcut/gui/tabs/create_training_dataset.py
  deeplabcut/pose_estimation_pytorch/__init__.py
  deeplabcut/pose_estimation_pytorch/config/__init__.py
  deeplabcut/pose_estimation_pytorch/config/utils.py
Labels: GUI, DLC3.0🔥, CTD
